---
layout: default
title: Umit Guler's GitLab Pages
---

<div class="row marketing">
	<div class="col-sm-3">
	<img  class="img-circle avatar" alt="Umit Guler" src="img/eeee.jpg" width="130px">
	</div>
	<div class="col-sm-9">

	<p class="lead"><b><i>Hi, I'm <span itemprop="name">Umit Guler</span> and I make things on the web for sofware  development.</i></b></p>
	
	<p>I am a software developer, circuit designer and music enthusiast living in Manisa, Turkey. I have been involved in the development of numerous projects in the field of embedded systems for approximately 10 years. I have also been working as a HW & SW Development Executive in R&D department at <span itemprop="affiliation">the <a href="https://www.coolermed.com.tr/">Öztaş Global Cooling</a></span> nowadays. I would like to utilize my skills and experience as well as my passion. Moreover,  I aim to continue with the excitement of the first day and to contribute more with my professional colleagues for the rest of my life.</p>

	<p>
    Combining the practical skills I acquired during vocational high school with the theoretical knowledge in engineering education was a significant advantage at the beginning of my career. 
       During my Master's studies at Ege University, I specialized in IoT systems for refrigerators. 
    My research in this area led to the publication of <span itemprop="affiliation"><a href="https://www.researchgate.net/publication/372084668_Remote_Monitoring_and_Control_of_Refrigerators_Through_MQTT_Protocol_with_AES_Encryption/" target="_blank">a paper</a></span> on IEEE Xplore®. 
    
</p>

<p>
        Now, I am thrilled to continue my academic journey as a PhD student in the Department of Electronics at Celal Bayar University.
    Working with esteemed professors in this program is both a privilege and an exciting challenge that motivates me every day.
   
</p>



	<p><a href="contact">Tell me about</a> your opinions or critics if you're interested in my projects.</p>
	</div>
</div>
