---
layout: default
title: Contact
link: contact
---

	<div class="contact">

	<p>You can get in touch with or find me at:</p>
	
	<ul class="list-unstyled">
		<li>GitHub: <a href="https://github.com/umitliguler">github.com/umitliguler</a></li>
		<li>GitLab: <a href="https://github.com/umitliguler">gitlab.com/umitliguler</a></li>
		<br>
	

    	<li>LinkedIn: <a href="https://www.linkedin.com/in/umitliguler/">linkedin.com/in/umitliguler</a></li>  
              
		<br>
		<li>Or by sending an e-mail to <a href="mailto:info.umitguler@gmail.com">info.umitguler@gmail.com</a></li>
		<br>
	</ul>
</div>
