---
layout: default
title: CV 
---

<link rel="stylesheet" type="text/css" href="../css/resetfontgrids.css" media="all" /> 
<link rel="stylesheet" type="text/css" href="../css/resume.css" />


<div id="inner">
    
   <div id="hd">  <!-- head-->
        <div class="yui-gc">
            <div class="yui-u first">
                <h1>Ümit Güler</h1>
                <h4>HW & SW Development Executive</h4>
            </div>

            <div class="yui-u">
                <div class="contact-info">
                    <h3><a id="pdf" href="/cv/Resume.pdf">Download PDF</a></h3>
                    <br> <br> <br>
                    <h3><a href="mailto:info.umitguler@gmail.com">info.umitguler@gmail.com</a></h3>
			<br>
                </div><!--// .contact-info -->
            </div>
        </div><!--// .yui-gc -->
    </div><!--// hd -->

    <div id="bd">  <!-- body-->
        <div id="yui-main">
            <div class="yui-b">

                <div class="yui-gf">	
                    <div class="yui-u first">
                        <h2>Education</h2>
                    </div><!--// .yui-u -->

                    <div class="yui-u">
                        <div class="job">
                            <h2>Celal Bayar University</h2>
                            <h4 style="color: #909090">2024 Sept.- Present </h4>
                            
                            PhD in Electronics Engineering<br>
                                             <p><ul>
                                                   
                            GPA: 4 - 4 / Formal Education %30 English
                                                        </ul></p>
                        </div>
                        <div class="job">
                            <h2>Ege University</h2>
                            <h4 style="color: #909090">2020 Sept.- 2023 June </h4>
                            
                            MSc in Electronics Engineering<br>
                                             <p><ul>
                            My Paper: https://ieeexplore.ieee.org/document/10167993<br>                        
                            GPA: 3,61 - 4 / Formal Education %30 English
                                                        </ul></p>
                        </div>
                        <div class="job">
                            <h2>Ömer Halisdemir University</h2>
                            <h4 style="color: #909090">2011 Sept.-2015 June</h4>
                                            
                            BSc in Electrical and Electronics engineering<br>
                             <p><ul>
                            IEEE RAS<br>  
                            GPA: 3,25 - 4 / Formal Education %30 English
                                                        </ul></p>
                        </div>
                        <div class="job">
                            <h2>Ege University </h2>
                            <h3>Ege Meslek Yüksek Okulu</h3>
                            <h4 style="color: #909090">2008 Sept.-2011 June</h4>
		                    Associate Degree - Telecommunication<br>
                             <p><ul>
                            GPA: 82,14 - 100 / Formal Education
                                                        </ul></p>
                        </div>
			            <div class="job last">
                            <h2>Süleyman Taştekin AML. </h2>
                            <h4 style="color: #909090">2004 Sept.-2008 June</h4>
		                    Industrial Electronics<br>
                                                         <p><ul>
                            GPA: 74.06 - 100  / Formal Education
                                                        </ul></p>
                        </div>
                    </div><!--// .yui-u -->
                </div><!--// .yui-gf -->


                <div class="yui-gf">	
                    <div class="yui-u first">
                       <h2>Working Exp.</h2>
                    </div><!--// .yui-u -->

                    <div class="yui-u">
                                                
                        <div class="job">
                            <h2>Greencooler & Coolermed</h2>
                            <h3>as a HW & SW Development Executive</h3>
                            <h4 style="color: #909090">2020 August – Present</h4>
                            <p><ul>
		                    <li><i>Circuit design by using EasyPc. </i></li>
	                    	<li><i>Software development in C and C++ language using Atollic and Keil program </i></li>
		                    <li><i>Interface design (HMI) with C # and C using Visual Studio IDE and Nextion program</i></li>
                            <li><i>Projects developed with Uart, SPI, SDIO, USB, Canbus, Modbus and I2C peripherals  </i></li>
                            <li><i>Web API design, SQL Database design, MQTT protocol usage within the scope of IoT Projects </i></li>
		                    <li><i>Management of EMC and LVD test processes and preparations for software validation </i></li>
                            <li><i>Ultra Low Freezer (-86°C) Project for Covid-19 BionTech Vaccines</i></li>
		                    <li><i>Domestic and industrial Freeze Dryer Project </i></li>
		                    <li><i>Control of Blood Storage and Vaccine Cooleers </i></li>
		                    <li><i>Coolermed (Medical brand), Greencooler (Trade brand), Vino Bellezza (Wine Coolers brand), Liyolife (Lyophilization Systems - Freeze Dryer brand) many projects realized</i></li>
                            <li><i>Management of teammates in electrical, electronics and software department</i></li>
                            <li><i>Implemented Github, Gitlab and BitBucket for version control.</i></li>
                            </ul></p>
                        </div>


                        <div class="job">
                            <h2>Frik Electronics / Izmir</h2>
                            <h3>as an R&D Engineer</h3>
                            <h4 style="color: #909090">2015 August – 2020 August</h4>
                            <p><ul>
		                    <li><i>Circuit design by using EasyPc and Proteus. </i></li>
		                    <li><i>Software development in C and C++ language using Atollic and Keil program </i></li>
		                    <li><i>Interface design (HMI) with C # and C using Visual Studio IDE and Nextion program</i></li>
                            <li><i>Projects developed with Uart, SPI, SDIO, USB, Canbus, Modbus and I2C peripherals</i></li>
		                    <li><i>Comprehensive control of vaccine and blood cabinets, communication system, memory and energy management </i></li>
                            <li><i>AGV (Automated Guided Vehicle) design and using in factories</i></li>
		                    <li><i>BLDC motor control project for cultivator production in agriculture</i></li>
		                    <li><i>Designing and programming of synchronous and asynchronous motor control circuits for military and civilian companies</i></li>
		                    <li><i>Built, tested and deployed scalable, highly available and modular software products.</i></li>
                            <li><i>Worked closely with clients to establish problem specifications and system designs.</i></li>
                            <li><i>Implemented Github, Gitlab and BitBucket for version control.</i></li>
	                        </ul></p>
                        </div>

                        <div class="job">
                            <h2>Frik Electronics / Izmir</h2>
                            <h3>as a Technician</h3>
                            <h4 style="color: #909090">11.2010 – 08.2011</h4>
                                                        <p><ul>
                            <li><i>Soldering for maintenance of products</i></li>
	                    	<li><i>Performed electrical acceptance testing of completed hardware</i></li>
                            <li><i>Monitored the manufacture of electrical devices and operations to ensure compliance with safety protocols</i></li>
	                    	<li><i>I left for Engineering Education </i></li>
                            	                        </ul></p>
                        </div>

                            <div class="job">
                            <h2>Ege University / Izmir</h2>
                            <h3>as a Part-Time Working Student </h3>
                            <h4 style="color: #909090">11.2008 – 08.2009</h4>
                                                        <p><ul>
                            <li><i>Design and improvements of test boards</i></li>
	                    	<li><i>Laboratory arrangements and preparations</i></li>
                            <li><i>Repairs of broken electronic boards</i></li>
	                    	<li><i>Supply of materials to the laboratory</i></li>
                            	                        </ul></p>
                        </div>


                    </div><!--// .yui-u -->
                </div><!--// .yui-gf -->

                <div class="yui-gf">	
                    <div class="yui-u first">
                       <h2>Intership Exp.</h2>
                    </div><!--// .yui-u -->

                    <div class="yui-u">
                                                
                        <div class="job">
                         <div class="job">
                            <h2>Lenze / Izmir</h2>
                            <h3>as an Engineer Intern</h3>
                            <h4 style="color: #909090">07.2014 – 08.2014</h4>
                                                  <p><ul>
                            <li><i>Controlling system for 3-phase electric motor.</i></li>
	                    	<li><i>Software development for PLC</i></li>
                            <li><i>Assisting engineering projects for power systems.</i></li>
	                    	<li><i>Modified and improved existing electrical drawings to ensure up-to-date technology and techniques are implemented</i></li>
                            	                        </ul></p>
                        </div>

                        <div class="job last">
                            <h2>Başarı Technical Service / Izmir</h2>
                            <h3>as a Technician Intern </h3>
                            <h4 style="color: #909090">07.2009 – 08.2009</h4>
                                                  <p><ul>
                            <li><i>Internship for associate degree education</i></li>
	                    	<li><i>Assisting technicians in maintenance and repair</i></li>
                            <li><i>Developing necessary skills in customer service</i></li>
	                    	<li><i>Material identification in the local warehouse</i></li>
                            	                        </ul></p>

                        </div>

                        <div class="job last">
                            <h2>Kon-tek Automation / Izmir</h2>
                            <h3>as aTechnician Intern </h3>
                            <h4 style="color: #909090">07.2007 – 08.2007</h4>
                                                <p><ul>
                            <li><i>Internship for vocational high school education</i></li>
	                    	<li><i>Learning about engine control systems</i></li>
                            <li><i>Assembling the power unit</i></li>
	                    	<li><i>Monitored installation and operations to consistently meet rigorous customer requirements.</i></li>
                            	                        </ul></p>

                        </div>
                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->
                </div><!--// .yui-gf -->
                <div class="yui-gf">
                    <div class="yui-u first">
                        <h2>Skills</h2>
                    </div>
                    <div class="yui-u">

                            <div class="talent">
                                <h2>Programming Lang.</h2>
                                <p>C, C++, C#, Python, Assembly, Bash Script, HTML</p>
                            </div>

                            <div class="talent">
                                <h2>Program</h2>
                                <p>Easy-PC PCB Design, </p>
                                <p>Proteus PCB Design, </p>
                                <p>Keil MDK, </p>
                                <p>Atollic TrueSTUDIO for ARM, </p>
                                <p>STM32CubeMX </p>
                                <p>PSoC Creator, </p>
                                <p>Arduino IDE, </p>
                            </div>

                            <div class="talent">
                                <h2>Processors</h2>
                                <p>ST,Cypress,Atmel,Microchip </p>
                            </div>


                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->

		
		            <div class="yui-gf">
                        <div class="yui-u first">
                        <h2> Projects</h2>
                         </div>
                    <div class="yui-u">

    	                    <p><ul>
		                    <li><i>Chef robot with auxiliary arms           (Servo motor position control, Graduation Thesis).</i></li>
		                    <li><i>BLDC Motor Control Units                 (Military Project, STM32 series processor).</i></li>
                            <li><i>Sumo and line following robots           (PIC programming in C language).</i></li>
                            <li><i>Heated-Cooling Blanket                   (Developed for KOSGEP).</i></li>
		                    </ul></p>


                        </div><!--// .yui-u -->
                     </div><!--// .yui-gf -->
		
                 <div class="yui-gf">
                    <div class="yui-u first">
                        <h2> Language Skills</h2>
                    </div>
                    <div class="yui-u">

                            <div class="talent">
                                <h2>English</h2>
                                <p>Reading:  Advanced</p>
                                <p>Writing:  Advanced</p>
                                <p>Speaking: Advanced</p>
                                
                            </div>


                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->
                </div><!--// .yui-gf -->

                <div class="yui-gf last">
                    <div class="yui-u first">
                        <h2>Interests</h2>
                    </div>
                    <div class="yui-u">						
                        <p>Robotics</p>
                        <p>Music</p>
                        <p>Making Delicious Dishes</p>
                        <p>Swimming</p>

                    </div><!--// .yui-u -->
                </div><!--// .yui-gf -->


            </div><!--// bd -->
        </div><!--// bd -->
    </div><!--// hd -->

    <div id="ft">
        <p>Umit GULER —  Last Update: 08.08.2023</p>
    </div><!--// footer -->

</div><!-- // inner -->
