<!DOCTYPE html>
<html>
	<head>
	    
	    
	    <style>
.dropbtn {
    background-color: #ffffff;
    color: #3498DB;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #3498DB;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
</style>
	    
	    
	    
	    
		<meta charset="utf-8">
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="Umit Guler is a Electrical and Electronic Engineer, and  Music Enthusiast, living and working in Izmir.">
		<meta name="author" content="Umit Guler">
		
		<title>{{ page.title }}</title>
		<link rel='shortcut icon' href='/img/coffee.ico'/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css">		
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-84938660-1', 'auto');
  ga('send', 'pageview');
</script>		
		
	</head>
	<body>

<div class="container">
			
	<div class="header">
	    
		<ul class="nav nav-pills pull-right">
		    
			<li><a href="{{site.baseurl}}/">Home</a></li>
			
			<li>		    			
            <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">PROJECTS</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="/Cprojects" title="Projects">C & C++ Projects</a>
                <a href="/CsharpProjects" title="Projects">C# Projects</a>
                <a href="/Android" title="Projects">Android Projects</a>
              </div>
            </div>
            </li>
            
			<li id="blog_page" class="passive"><a href="/blog" title="Notes">Blog</a></li>
			<li id="cv_page" class="passive"><a href="/cv" title="CV">CV</a></li>
			<li id="contact_page" class="passive"><a href="/contact" title="Contact">Contact</a></li>
			
		</ul>
		
		<h3 class="text-muted"><a href="/">UMIT GULER</a></h3>
	</div> <!-- /header -->	
    
	{{ content }}

	<div class="footer">
		<div class="col-sm-10">	
			<p><small>&copy; umitliguler 2023</small></p>
		</div>

		<div class="col-sm-2">			
			<a href="/about">About</a>
		</div>
	</div>	
	
		
</div><!-- /.container -->

<!-- javascript at the end of the doc so page loads faster -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/library.js"></script>
			
	<script>

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
	
<script>
document.getElementById("{{page.link}}_page").className = "active";	
</script>
</body>
</html>
